html,body {
    position: relative;
    margin: 0;
    height: 100%;
    background-color: rgb(229, 226, 226);
    /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}
/********** Main close button **********/
.close-container{
    position: relative;
    z-index: 3;
}
.close-container button{
    font-size: 10px;
}
/********* Profile *********/
.left {
    height: 90%;
    background-color: rgb(229, 226, 226);
    text-align: center;
    letter-spacing: 5px; 
    z-index: -1;
}
#pic {
    border-radius: 50%;
    width: 40%;
}
#name {
    padding: 5%;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}
#job {
    font-size: 30px;
    padding-top: 0%;
}

/* Download Resume */
.left button {
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 16px;
    outline: none;
}
.left button:hover {
    opacity: 1;
    cursor: pointer;
    /* font-size: 16.5px; */
}
/******** Links *********/
.fab {
    color: rgb(29, 28, 28);
    
}
#links {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 226, 226);
}




#aboutBody {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: white;
}
#test {
    margin: 60px;
}
/******** Nav Buttons ********/
.nav {
    z-index: 2;
    position: fixed;
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
    /* margin-top: 0 auto; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
}
.nav button{
    outline: none;
    color: rgb(201, 198, 198);
    background-color: gray;
    border: gray;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#about {
    /* height: 100%; */
    /* width: 100%; */
}
#projects{
    /* height: 100%; */
    /* width: 100%; */
}

#contact {
    /* height: 100%; */
    /* width: 100%; */
}

#resume {
    /* height: 100px; */
    /* width: 100%; */
}
