html,body {
    position: relative;
    margin: 0;
    height: 100%;
    font-family: 'Text Me One', sans-serif;
    background-color: #1d1e22;
    overflow-x: hidden;
}
#resumeButtonMobile {
    position: relative;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 16px;
    outline: none;
    color: #393f4d;
    background-color: #feda6a;
    z-index: 1;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#resumeButton {
    display: none;
}
/********** Main close button **********/
.close-container-mobile {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 4;
    top: 10px;
}
.close-container-mobile button {
    background-color: #d3b456; 
    outline: none;
    border: 0px;
    -webkit-appearance: none;
    font-size: 15px;
    color: #1d1e22;
    border-radius: 5px;
    margin-left: 5px;
    opacity: 0.9;
}


/********* Profile *********/
.left {
    height: 90%;
    background-color: #1d1e22;
    text-align: center;
    letter-spacing: 5px; 
    z-index: -1;
}
#pic {
    border-radius: 50%;
    width: 200px;
}
#name {
    height: 10%;
    padding: 5%;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    color: #d4d4dc;
}
#job {
    height: 15%;
    font-size: 30px;
    padding-top: 0%;
    color: #d4d4dc;
}


/******** Links *********/
.fab {
    color: #d4d4dc;
}
#links {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: #1d1e22;
}
#links a{
    margin: 0.5rem;
}
/********* Pages **********/
#mainBody {
    display: block;
    overflow: auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #1d1e22;
    color: #d4d4dc;
}
#contactPage {
    margin: 40px;
}
/********* About Page **********/
#aboutPageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
#aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%
}
/********* Project Page *********/
.projectImage {
    height: 150px;
    width: 295px;
    border: 3px solid #feda6a;
    opacity: 0.7;
    margin: 5px 5px 10px 5px;
}

#projectPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#projectTitle {
    display: flex;
    justify-content: center;
}
#projectPage span {
    display: none;
}
/********* The Proffessional Hobo *********/

#theProffessionalHobo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#TPHName {
    font-size: 27px;
}
#TPHGitHub {
    text-decoration: none;
    color: #393f4d;
    font-size: 13px;
    font-weight: 900;
    border: 1px solid #feda6a;
    background-color: #feda6a;
    padding: 8px 31px 8px 31px;
    border-radius: 8px;
    opacity: 0.7;
}
#TPHDemo {
    text-decoration: none;
    color: #393f4d;
    font-size: 13px;
    font-weight: 900;
    border: 1px solid #feda6a;
    background-color: #feda6a;
    padding: 8px 18px 8px 18px;
    border-radius: 8px;
    opacity: 0.7;
}
#TPHLinks{
    width: 315px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}
/********* The Budget Hobo *********/
    
#theBudgetHobo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#TBHName {
    font-size: 27px;
}
#TBHGitHub {
    text-decoration: none;
    color: #393f4d;
    font-size: 13px;
    font-weight: 900;
    border: 1px solid #feda6a;
    background-color: #feda6a;
    padding: 8px 31px 8px 31px;
    border-radius: 8px;
    opacity: 0.7;
}
#TBHDemo {
    text-decoration: none;
    color: #393f4d;
    font-size: 13px;
    font-weight: 900;
    border: 1px solid #feda6a;
    background-color: #feda6a;
    padding: 8px 18px 8px 18px;
    border-radius: 8px;
    opacity: 0.7;
}
#TBHLinks{
    width: 315px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/********* Skills Page *********/
#skillsTitle {
    display: flex;
    justify-content: center;
}
#skillsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#knownSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}
#skillsPage i {
    margin: 18px;
    font-size: 60px;
}
.skillsTitle {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    width: 80%;
}
#learningSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}
/******** Nav Buttons ********/
.nav {
    z-index: 3;
    position: fixed;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;    
}
.nav button{
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    outline: none;
    color: #393f4d;
    background-color: #d3b456;
    border: gray;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

/********** Contact Page *********/
#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1e22;
    height: 50%;
    width: 100%;
    margin: 0;
    justify-content: space-around;
}
#contact input {
    border: 1px solid black;
    height: 28px;
    width: 250px;
    background-color: #feda6a;
    opacity: 0.7;
    border-radius: 0.3rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 30px;
    outline: none;
}
::placeholder { 
    font-family: 'Text Me One', sans-serif;
    color: #1d1e22;
    opacity: 1;
}
  
:-ms-input-placeholder { 
    font-family: 'Text Me One', sans-serif;
    color: #1d1e22;
}
  
::-ms-input-placeholder { 
    font-family: 'Text Me One', sans-serif;
    color: #1d1e22;
}

#contact textarea {
    height: 100px;
    width: 250px;
    padding: 1px;
    border: 1px solid black;
    background-color: #feda6a;
    opacity: 0.7;
    border-radius: 0.3rem;
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#contact button {
    border: 1px solid black;
    background-color: #feda6a; 
    margin-top: 20px;
    opacity: 0.7;
    border-radius: 0.3rem;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#contact span {
    font-size: 40px;
}


#resume {
    width: 100%;
    height: 100%;
    border: none;
}

#location {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#location h2 {
    margin: 0px;
    font-size: 20px;
}

@media only screen and (min-width: 812px) {
    /********* Close Button *********/
    .close{
        position: fixed;
        z-index: 2;
        top: 10px;
        right: 10px;
        cursor: pointer;
        outline: none;
        background-color: #d3b456; 
        border: 0px;
        -webkit-appearance: none;
        font-size: 15px;
        color: #1d1e22;
        border-radius: 5px;
        opacity: 0.9;
    }
    /********* Left Profile *********/
    .left {
        position: fixed;
        height: 100%;
        width: 30%;
        background-color: #1d1e22;
        text-align: center;
        letter-spacing: 5px; 
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /********* Right Nav *********/
    .nav {
        width: 70%;
        z-index: 3;
        position: fixed;
        height: 10%;
        display: block;
        transform: rotate(45deg);
        margin-top: 180px;
        right: 30%;
        left: 20%;
    }
    .nav button {
        font-size: 30px;
        border: 1px solid #feda6a;
        box-shadow: inset 0 0 10px #1d1e22f5;
    }
    .closeMobile {
        display: none;
    }
 
    /********* Pages *********/
    #mainBody {
        z-index: 1;
        position: relative;
        float: right;
        width: 70%;
        height: 100%;
    }
    /********* Contact Page *********/
    #contact input {
        height: 48px;
        width: 100%;
    }
    #contact textarea {
        width: 100%;
        height: 200px;
    }
    #contact span {
        width: 100%;
        font-size: 70px;
    }
    #contact button {
        font-size: 16px;
    }
    #contact {
        height: 100%;
    }
    #contactPage {
        width: 55%;
    }
    #yourName {
        margin-top: 60px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 16px;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: 'Text Me One', sans-serif;
        color: #1d1e22;
    } 
    ::-ms-input-placeholder { /* Microsoft Edge */
        font-family: 'Text Me One', sans-serif;
        color: #1d1e22;
    }
    #contactContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #location {
        margin: 140px 0 0 80px;
    }
    #location h2 {
        margin-left: 30px;
    }
    #location h1 {
        font-size: 50px;
    }
    /********* Main close button *********/
    .close-container{
        left: 30%;
    }
    /********* About Page Button *********/
    #aboutButton {
        position: fixed;
        right: 35%;
        bottom: 20%;
        padding: 1024px 60px 60px 1024px;
        transform-origin: bottom right;
    }
    #aboutButton:hover {
        box-shadow: 15px 20px 80px 1px #bbbbbb;
        z-index: -1;
    }
    #aboutButton:active {
        box-shadow: inset 0 0 10px #1d1e22f5;
    }
    #about-text {
        position: absolute;
        bottom: 220px;
        right: 200px;
        transform: rotate(-45deg);
    }
    #aboutPage #bio {
        text-indent: 50px;
    }
    /********* Projects Page Button *********/
    #projectsButton{
        position: fixed; 
        top: 80%;
        right: 35%;
        padding: 60px 60px 1024px 1024px;
        transform-origin: top right;
    }
    #projectsButton:hover{
        box-shadow: 15px -20px 80px 1px #bbbbbb;
        z-index: -1;
    }
    #projectsButton:active {
        box-shadow: inset 0 0 10px #1d1e22f5;
    }
    #project-text {
        position: absolute;
        right: 260px;
        top: 300px;
        transform: rotate(-45deg)
    }
    /********* Projects Page Body *********/
    .projectImage {
        height: 170px;
        width: 315px;
    }
    #projectPage a:hover {
        opacity: 1;
    }
    .pageDesc {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 161px;
        height: 170px;
        width: 300px;
        display: none;
        margin-left: 5px;
    }
    #projectPage img:hover {
        opacity: 0.1;
    }
    #projectPage img:hover + .pageDesc {
        z-index: -1;
        display: block;
    }

 
    /********* Contact Page Button *********/
    #contactButton {
        position: fixed;
        margin: 0 auto;
        left: 65%;
        bottom: 20%;
        padding: 1024px 1024px 60px 60px;
        transform-origin: bottom left;
    }
    #contactButton:hover {
        box-shadow: -20px 20px 80px 1px #bbbbbb;
        z-index: -1;
    }
    #contactButton:active {
        box-shadow: inset 0 0 10px #1d1e22f5;
    }
    
    #contact-text {
        position: absolute;
        bottom: 400px;
        left: 360px;
        transform: rotate(-45deg)
    }
    
   
    /********* Skills Page Button *********/
    #skillsButton {
        position: fixed;
        margin: 0 auto;
        top: 80%;
        left: 65%;
        padding: 60px 1024px 1024px 60px;
        transform-origin: top left;
    }
    #skillsButton:hover {
        box-shadow: -20px -20px 80px 1px;
        z-index: -1;
    }
    #skillsButton:active {
        box-shadow: inset 0 0 10px #1d1e22f5;
    }
    #skills-text {
        position: absolute;
        top: 260px;
        left: 240px;
        transform: rotate(-45deg)
    }
    #knownSkills {
        justify-content: left;
    }
    #learningSkills {
        justify-content: left;
    }

    /********* Resume Button *********/
    #resumeButton {
        display: block;
        position: relative;
        padding: 20px 50px 20px 50px;
        border-radius: 10px;
        opacity: 0.7;
        font-size: 16px;
        outline: none;
        color: #393f4d;
        background-color: #feda6a;
        z-index: 1;
        font-family: 'Text Me One', sans-serif;
        font-weight: bold;
    }
    #resumeButton:hover {
        opacity: 1;
        cursor: pointer;
    }

    #resumeButtonMobile {
        display: none;
    }
    /********* Resume Page *********/
    #resume {
        width: 90%;
        height: 100vh;
        border: none;
    }
} 