html,body {
    position: relative;
    margin: 0;
    height: 100%;
    font-family: 'Text Me One', sans-serif;
    /* background-color: rgb(229, 226, 226); */
    background-color: #1d1e22;
}
/********** Main close button **********/
.close-container{
    position: fixed;
    z-index: 4;
}
.close-container button{
    cursor: pointer;
    outline: none;
    background-color: #1d1e22; 
    border: 0px;
    -webkit-appearance: none;
    font-size: 10px;
    color: #d4d4dc;
}
/********* Profile *********/
.left {
    height: 90%;
    background-color: #1d1e22;
    text-align: center;
    letter-spacing: 5px; 
    z-index: -1;
}
#pic {
    border-radius: 50%;
    width: 200px;
}
#name {
    height: 10%;
    padding: 5%;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    color: #d4d4dc;
}
#job {
    height: 15%;
    font-size: 30px;
    padding-top: 0%;
    color: #d4d4dc;
}

/* Download Resume */
.left button {
    position: relative;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 16px;
    outline: none;
    color: #393f4d;
    background-color: #feda6a;
    z-index: 1;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
}
.left button:hover {
    opacity: 1;
    cursor: pointer;
}
/******** Links *********/
.fab {
    color: #d4d4dc;
}
#links {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: #1d1e22;
}
#links a{
    margin: 0.5rem;
}
/********* Pages **********/
#aboutBody {
    display: block;
    overflow: auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #1d1e22;
    color: #d4d4dc;
}
.test {
    margin: 60px;
    /* height: 100%; */
}

/******** Nav Buttons ********/
.nav {
    z-index: 2;
    position: fixed;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;    
}
.nav button{
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    outline: none;
    /* color: rgb(201, 198, 198); */
    color: #393f4d;
    /* background-color: gray; */
    background-color: #feda6a;
    opacity: 0.7;
    border: gray;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}
#about {
    /* height: 100%; */
    /* width: 100%; */
}
#projects{
    /* height: 100%; */
    /* width: 100%; */
}
/********** Contact Page *********/
#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1e22;
    height: 50%;
    width: 100%;
    margin: 0;
    /* padding-top: 20px; */
    justify-content: space-around;
}
#contact input {
    border: 1px solid black;
    height: 28px;
    width: 250px;
    background-color: #feda6a;
    opacity: 0.7;
    border-radius: 0.3rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 30px;
    outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Text Me One', sans-serif;
    color: #1d1e22;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Text Me One', sans-serif;
    color: #1d1e22;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Text Me One', sans-serif;
    color: #1d1e22;
}

#contact textarea {
    height: 100px;
    width: 250px;
    padding: 1px;
    border: 1px solid black;
    background-color: #feda6a;
    opacity: 0.7;
    border-radius: 0.3rem;
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#contact h1 {
    color: #d4d4dc;
    font-size: 50px;
}
#contact button {
    border: 1px solid black;
    background-color: #feda6a; 
    margin-top: 20px;
    opacity: 0.7;
    border-radius: 0.3rem;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#resume {
    /* height: 100px; */
    /* width: 100%; */
}
@media only screen and (min-width: 600px) {
    .left {
        position: fixed;
        height: 100%;
        width: 30%;
        background-color: #1d1e22;
        text-align: center;
        letter-spacing: 5px; 
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav {
        width: 70%;
        z-index: 2;
        position: fixed;
        height: 10%;
        display: block;
        transform: rotate(45deg);
        margin-top: 200px;
        right: 30%;
        left: 20%;
    }
    #aboutBody {
        position: relative;
        float: right;
        width: 75%;
        height: 100%;
    }
    #contact input {
        width: 45%;
    }
    #contact textarea {
        width: 45%;
        height: 200px;

    }
    .close-container{
        left: 25%;
    }
    #aboutButton {
        position: fixed;
        right: 35%;
        bottom: 20%;
        padding: 1024px 60px 60px 1024px;
        /* border: 0.5px solid gray; */
        transform-origin: bottom right;
    }
    #aboutButton:hover {
        box-shadow: 15px 20px 80px 1px #bbbbbb;
        z-index: -1;
    }
    .nav button{
        outline: none;
        border: gray;
        font-size: 18px;
    }
    .right button:hover {
        /* border: 2px solid rgb(124, 121, 121); */
        cursor: pointer;
        z-index: 1;
    }
    
    #projectsButton{
        position: fixed; 
        top: 80%;
        right: 35%;
        padding: 60px 60px 1024px 1024px;
        transform-origin: top right;
    }
    #projectsButton:hover{
        box-shadow: 15px -20px 80px 1px #bbbbbb;
        z-index: -1;
    }
    #contactButton {
        position: fixed;
        margin: 0 auto;
        left: 65%;
        bottom: 20%;
        padding: 1024px 1024px 60px 60px;
        /* border: 0.5px solid gray; */
        transform-origin: bottom left;
    }
    #contactButton:hover {
        box-shadow: -20px 20px 80px 1px #bbbbbb;
        z-index: -1;
    }
    #resumeButton {
        position: fixed;
        margin: 0 auto;
        top: 80%;
        left: 65%;
        padding: 60px 1024px 1024px 60px;
        /* border: 0.5px solid gray; */
        transform-origin: top left;
    }
    #resumeButton:hover {
        box-shadow: -20px -20px 80px 1px #bbbbbb;
        z-index: -1;
    }
    
} 
@media only screen and (min-width: 768px) {
    /* .left {
        width: 30%;
    }
    .nav {
        width: 60%;
    } */
} 