html,body {
    position: relative;
    margin: 0;
    height: 100%;
    /* background-color: rgb(229, 226, 226); */
    background-color: #393f4d;
    /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}
/********** Main close button **********/
.close-container{
    position: fixed;
    z-index: 3;
}
.close-container button{
    font-size: 10px;
    color: #d4d4dc;
}
/********* Profile *********/
.left {
    height: 90%;
    /* background-color: rgb(229, 226, 226); */
    background-color: #1d1e22;
    text-align: center;
    letter-spacing: 5px; 
    z-index: -1;
}
#pic {
    border-radius: 50%;
    width: 40%;
}
#name {
    padding: 5%;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    color: #d4d4dc;
}
#job {
    font-size: 30px;
    padding-top: 0%;
    color: #d4d4dc;
}

/* Download Resume */
.left button {
    position: relative;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 16px;
    outline: none;
    color: #393f4d;
    background-color: #feda6a;
    z-index: 1;
}
.left button:hover {
    opacity: 1;
    cursor: pointer;
    /* font-size: 16.5px; */
}
/******** Links *********/
.fab {
    /* color: rgb(29, 28, 28); */
    color: #d4d4dc;
    
}
#links {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(229, 226, 226); */
    background-color: #1d1e22;
}




#aboutBody {
    display: block;
    overflow: auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: white;
}
.test {
    margin: 60px;
    /* height: 100%; */
}

/******** Nav Buttons ********/
.nav {
    z-index: 2;
    position: fixed;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
}
.nav button{
    outline: none;
    /* color: rgb(201, 198, 198); */
    color: #393f4d;
    /* background-color: gray; */
    background-color: #feda6a;
    opacity: 0.7;
    border: gray;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#about {
    /* height: 100%; */
    /* width: 100%; */
}
#projects{
    /* height: 100%; */
    /* width: 100%; */
}
/********** Contact Page *********/
#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1e22;
    height: 100%;
    width: 100%;
    margin: 0;
}
#contact input {
    border: 1px solid black;
    -webkit-appearance: none;
    width: 200px;
    background-color: #feda6a;
    opacity: 0.7;
    border-radius: 0.3rem;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d4d4dc;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #d4d4dc;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
color: #d4d4dc;
}
#contact textarea {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: #feda6a;
    opacity: 0.7;
    border-radius: 0.3rem;
    -webkit-appearance: none;
}
#contact h1 {
    color: #d4d4dc;
}
#resume {
    /* height: 100px; */
    /* width: 100%; */
}
